

/* Style the recycle container */
.recycle {
    
    position: relative;
    width: 100%;
    height: 300px;
    background-color: #728c5a; 
    border: 1px solid #ddd; 
    border-radius: 8px; 
    padding: 20px;
    margin: 80px 0; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}


.recycle h2 {
    font-size: 40px; 
    color: #eaf1b1; 
    margin-bottom: 10px; 
}


.recycle p {
    
    width:1000px;
    height: 500px;
    font-size: 20px; 
    color: #eaf1b1; 
    line-height: 1.6; 
}

/* Style for the image */
.recycle img {
    
    margin-right: 50px;
    position: absolute; 
    top: 20px; 
    right: 10px; 
    width: 350px; 
    height: 260px;
    z-index: 1; 
}


/* Style the content container */
.content {
    background-color: #ffffff; 
    padding: 20px; 
    
}


.content h2 { 
    color: #102f15; 
    font-size: 60px; 
    margin-bottom: 5px;
   
}

.content p {
    font-size: 20px; 
    color: #728c5a; 
    line-height: 1.6; 
    margin: 0 0 10px; 
}


.About {
    padding: 20px;
    font-family: Arial, sans-serif; 
    text-align: center; 
}

.About h2 {
    font-family: 'Copperplate Gothic Light'; 
    font-size: 40px;
    font-weight: bold;
    color:#102f15; 
    margin-bottom: 15px;
    
}

.About p {
    font-size: 20px;
    color: #102f15; 
    line-height: 1.6; 
    text-align: center;
    margin-bottom: 15px;
}

.About ul {
    list-style-position: none; 
    margin: 0px auto ;
    padding-left: 20px;
    display: inline-block; 
    text-align: left; 
    margin-bottom: 40px;
}

.About li {
    margin-bottom: 10px; 
    font-size: 18px;
    color: #ab360f;
}



.container {
    margin-left: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.test {
    
    width: 50%;
    height:auto;
    background-color:#728c5a; 
    border: 1px solid #ddd; 
    border-radius: 8px; 
    padding: 10px; 
    margin: 20px 0 10px 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    
}

.test p {
    color: #eaf1b1;
    font-size: 20px;
    margin: 10px 0;
}

.test:hover {
    transform: scale(1.05); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

.graph {
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.graph img {
    margin-right: 20px; 
    
}

.graph h2, .graph p {
    margin: 0;
    font-size: 17px;
    color: #102f15;
}

.graph h2 {
    margin-bottom: 10px; 
    text-align: center;
    font-size: 50px;
    color: #102f15;
}


  
  .team-section {
    text-align: center;
    padding: 50px;
    background-color: #ffffff;
  }
  
  .team-section h1 {
    font-size: 2.5rem;
    margin-bottom: 50px;
    color: #102f15;
  }
  
  .team-container {
    display: flex;
    justify-content: center;
    gap: 70px;
    flex-wrap: wrap;
  }
  
  .team-member {
    background-color: #eaf1b1;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .team-member img {
    width: 150px;
    height: 210px;
    object-fit: cover; 
    border-radius: 10%;
    margin-bottom: 20px;
    margin-left: 30px;
  }
  
  .team-member h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #102f15;
  }
  
  .team-member p {
    font-size: 1rem;
    color: #102f15;
  }
  .footer { 
    background-color: #102f15;
    color: #eaf1b1;
    padding: 40px 0px 40px 20px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: auto;
    }

  .footer-about{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .footer-about h4 {
    font-size: 30px;
  }

  
  .footer-contact {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .footer-contact h4 {
    font-size: 30px;

  }

  .footer-social {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px; 
  }

  .footer-social h4{
    font-size: 30px;
  }
  
  .footer-bottom p {
    text-align: center;
    margin: 0;
  }

.footer-social .icon {
    font-size: 24px; /* Adjust the size of the icons */
    color: #000; /* Adjust color if needed */
    cursor: pointer;
    transition: color 0.3s ease;
    gap: 2px;
}

.footer-social .icon:hover {
    color: red; /* Change color on hover if desired */
}










  
