
/* Styling for the main container */
.main-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding: 20px;
  box-sizing: border-box;
}

.main-title {
  border: #eaf1b1;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: #102f15;
  font-size: 1.5rem;
  color: #eaf1b1;
  text-align: center;
  padding: 15px;
}

.main-content {
  display: flex;
  width: 100%; /* Full width for side-by-side layout */
}

/* Styling for the buttons */
.button-container {
  width: 20%; /* Fixed width for buttons */
  display: flex;
  flex-direction: column;
  border: solid #102f15;

  padding: 10px;
  background-color: #728c5a;
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.3);
}

/* Button styling */
.nav-button {
  margin-bottom: 10px;
  background-color: #102f15;
  color: #eaf1b1;
  border: 2px solid #728c5a;
  padding: 10px;
  transition: background-color 0.3s;
}

.nav-button:hover {
  background-color: #728c5a;
  color: #102f15;
}

/* Styling for the content box */
.content-box {
  width: 80%; /* Remaining space for content */
  height: 80vh;
  background-color: #eaf1b1;
  border: solid #102f15;
  padding: 20px;
  overflow: auto;
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
}

/* Container for the content sections (locations + map) */
.content-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  height: 73vh; /* Allow full height */
}

.locations-container {
  width: 50%; /* Take up half the space */
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: auto;
  max-height: 100%; /* Ensure it doesn't overflow */
  scrollbar-width: thin;
  scrollbar-color: var(--drawer-bg) transparent;
}

.div-container {
  border: 3px solid #102f15;
  border-radius: 8px;
  background-color: #728c5a;
  color: #eaf1b1;
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.3);
  text-align: center;
  height: fit-content;
  padding: 20px;
}
  
/* Scrollable sections */
.scrollable-section {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #102f15 transparent;
}

.scrollable-section::-webkit-scrollbar {
  width: 6px;
}

.scrollable-section::-webkit-scrollbar-thumb {
  background-color: #102f15;
  border-radius: 10px;
}

/* Specific styling for div containers */


/* Map section styling */
.map-section {
  width: 50%; /* Take up half the space */
  height: 100%; /* Full height */
  display: flex;
  align-items: center;
}

.square-map-container {
  width: 100%; /* Full width of map section */
  height: 100%; /* Full height of map section */
}

.square-map {
  width: 100%; /* Ensure map fills the section */
  height: 100%; /* Ensure map fills the section */
  border: 3px solid #102f15;
  border-radius: 8px;
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.3);
}

.div-container-2 {
  border: 3px solid #102f15;
  border-radius: 8px;
  background-color: #728c5a;
  color: #eaf1b1;
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.3);
  text-align: center;
  height: 70vh;
  padding: 20px;
}


/* Styling for holiday schedule table */
.holiday-table {
  width: 100%;
  border-collapse: collapse;
}

.holiday-table th {
  padding: 10px;
  border: 3px solid #ebfadc;
  border-radius: 8px;
  text-align: center;
  background-color: #102f15;
  color: #eaf1b1;
}

.holiday-table td {
  padding: 10px;
  border: 3px solid #eaf1b1;
  border-radius: 8px;
  text-align: center;
  background-color: #728c5a;
  color: #ebfadc;
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.3);
}

/*------------------------------------------------------------------------*/
/* Drawer Contents Styling */
.material-div {
  background-color: var(--material-div-bg);
  width: 225px;
  border-radius: 8px;
  text-align: center;
  justify-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  height: 40vh;
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.material-div .materials {
  font-size: large;
  background-color: var(--drawer-bg);
  color: var(--drawer-content-bg);
  border-radius: 8px;
  padding: 5px 5px;
}

.item-list {
  color: var(--drawer-content-bg);
  text-align: left;
  overflow-y: auto;
  height: 150px;
  padding-right: 10px;
  scrollbar-width: thin;
  scrollbar-color: var(--drawer-bg) transparent;
}

.item-list::-webkit-scrollbar {
  width: 6px;
}

.item-list::-webkit-scrollbar-track {
  background: transparent;
}

.item-list::-webkit-scrollbar-thumb {
  background-color: var(--drawer-bg);
  border-radius: 10px;
}

.materials-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.materials-grid img {
  height: 80px;
  width: 80px;
  margin-bottom: 10px;
}

/*------------------------------------------------------------------------*/
/* SEARCH BAR STYLING */
.autocomplete {
  background-color: var(--autocomplete-bg);
  border: 2px solid var(--autocomplete-bg);
  border-radius: 8px;
  color: var(--autocomplete-text);
  padding: 10px;
  width: 100%;
  font-family: 'Times New Roman', Times, serif;
}

.autocomplete input::placeholder {
  color: var(--autocomplete-text);
  opacity: 1;
}

.autocomplete input {
  background-color: var(--autocomplete-input-bg);
  color: var(--autocomplete-input-text);
  border: 2px solid var(--autocomplete-input-text);
  border-radius: 8px;
  padding: 8px;
  width: 100%;
  font-size: 16px;
  outline: none;
}

.autocomplete-dropdown {
  background-color: var(--autocomplete-input-bg);
  border: 2px solid var(--drawer-bg);
  border-radius: 8px;
  padding: 8px 0;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
}

.autocomplete-item {
  background-color: var(--autocomplete-input-bg);
  color: var(--autocomplete-input-text);
  padding: 10px;
  cursor: pointer;
  font-family: 'Times New Roman', Times, serif;
}

.autocomplete-item:hover,
.autocomplete-item[data-hovered='true'] {
  background-color: var(--drawer-bg);
  color: var(--drawer-content-bg);
}

.autocomplete-dropdown::-webkit-scrollbar {
  width: 6px; /* Thin scrollbar */
}

.autocomplete-dropdown::-webkit-scrollbar-track {
  background: transparent; /* Transparent scrollbar track */
}

.autocomplete-dropdown::-webkit-scrollbar-thumb {
  background-color: var(--drawer-bg); /* Same scrollbar thumb color as the items */
  border-radius: 10px; /* Rounded scrollbar thumb */
}

.autocomplete-dropdown {
  scrollbar-width: thin;
  scrollbar-color: var(--drawer-bg) transparent;
}

/*------------------------------------------------------------------------*/
/* DRAWER STYLING*/
.drawer {
  background-color: #102f15;
  border: 2px solid #102f15;
  border-radius: 8px;
  color: #102f15;
}

.drawer-content {
  border: solid 5px #102f15;
  background-color: #eaf1b1;
  padding: 20px;
  font-family: 'Times New Roman', Times, serif;
  overflow-y: auto;
  height: 100vh;
  scrollbar-width: thin;
  scrollbar-color: #102f15 transparent;
}

.drawer-content::-webkit-scrollbar {
  display: 6px;
}

.drawer-content::-webkit-scrollbar-track {
  background: transparent;
}

.drawer-content::-webkit-scrollbar-thumb {
  background-color: #102f15;
  border-radius: 10px;
}

.drawer-title {
  font-size: x-large;
  text-align: center;
  background-color: #102f15;
  color: #eaf1b1;
  padding: 5px 10px;
  border-radius: 8px;
}

.drawer-overlay {
  backdrop-filter: blur(1px);
  opacity: 0.55;
}


/*------------------------------------------------------------------------*/
/* DIV STYLING */

.button {
  margin-left: 15px;
  background-color: #eaf1b1;
  color: #102f15;
  border: 2px solid #102f15;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 25px;
  width: 160px;
}

.button-2 {
  margin-left: 15px;
  background-color: #eaf1b1;
  color: #102f15;
  border: 2px solid #102f15;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 25px;
  width: 255px;
}

.button:hover {
  background-color: #102f15;
  color: #eaf1b1;
}

.button-2:hover { 
  background-color: #102f15;
  color: #eaf1b1;
}


/*------------------------------------------------------------------------*/
/* DIV STYLING */

.div-container h1 {
  font-size: large;
  text-align: center;
  color: var(--div-container-text);
  background-color: var(--drawer-bg);
  padding: 5px 10px;
  border: #102f15;
  border-radius: 8px;
}

.div-container p {
  font-size: large;
}

.div-container ul {
  padding: 5px 10px;
  background-color: var(--drawer-content-bg);
  color: var(--drawer-bg);
  border: solid var(--drawer-bg);
  border-radius: 8px;
  font-weight: bold;
  margin: 10px 20px;
}

.address {
  padding: 5px 10px;
  background-color: #102f15;
  color: #eaf1b1;
  border: solid #102f15;
  border-radius: 8px;
  margin: 10px 20px;
}

.div-container-2{
  border: 3px solid #102f15;
  border-radius: 8px;
  background-color: #728c5a;
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.3);
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px 20px;
  height: fit-content;
}

.div-2-title {
  font-size: xx-large;
  text-align: center;
  background-color: #102f15;
  color: #eaf1b1;
}

.div-2-txt {
  background-color: #eaf1b1;
  color: #102f15;
  padding: 15px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  font-size: large;
  text-align: center;
}
/*Audio icon */
.audio-icon{
  position: absolute;
  top: 100px;
  right: 30px;
  color: black;
}
