:root {
  --bg-color: #ffffff;
  --text-color: #102f15; /* Dark Green */
  --header-bg: #102f15; /* Dark Green */
  --header-text: #eaf1b1; /* Light Pastel Green */
  --drawer-bg: #102f15; /* Dark Green */
  --drawer-content-bg: #eaf1b1; /* Light Pastel Green */
  --drawer-content-text: #102f15; /* Dark Green */
  --button-bg: #eaf1b1; /* Light Pastel Green */
  --button-text: #102f15; /* Dark Green */
  --button-hover-bg: #102f15; /* Dark Green */
  --button-hover-text: #eaf1b1; /* Light Pastel Green */
  --material-div-bg: #728c5a; /* Green */
  --material-div-text: #eaf1b1; /* Light Pastel Green */
  --autocomplete-bg: #102f15; /* Dark Green */
  --autocomplete-text: #eaf1b1; /* Light Pastel Green */
  --autocomplete-input-bg: #728c5a; /* Green */
  --autocomplete-input-text: #eaf1b1; /* Light Pastel Green */
  --scroll-button-bg: #728c5a; /* Green */
  --scroll-button-text: #eaf1b1; /* Light Pastel Green */
  --scroll-button-hover-bg: #102f15; /* Dark Green */
  --map-border: #102f15; /* Dark Green */
  --div-container-bg: #728c5a; /* Green */
  --div-container-text: #eaf1b1; /* Light Pastel Green */
  --table-header-bg: #102f15; /* Dark Green */
  --table-header-text: #eaf1b1; /* Light Pastel Green */
  --table-cell-bg: #728c5a; /* Green */
  --table-cell-text: #ebfadc; /* Light Green */
}

[data-theme="dark"] {
  --bg-color: #333333;
  --text-color: #eaf1b1; /* Light Pastel Green */
  --header-bg: #444444; /* Darker background */
  --header-text: #cccccc; /* Light text */
  --drawer-bg: #444444; /* Darker background */
  --drawer-content-bg: #555555; /* Darker background */
  --drawer-content-text: #eaf1b1; /* Light Pastel Green */
  --button-bg: #666666; /* Darker background */
  --button-text: #eaf1b1; /* Light Pastel Green */
  --button-hover-bg: #777777; /* Slightly darker on hover */
  --button-hover-text: #ffffff; /* Light text */
  --material-div-bg: #666666; /* Darker background */
  --material-div-text: #eaf1b1; /* Light Pastel Green */
  --autocomplete-bg: #555555; /* Darker background */
  --autocomplete-text: #eaf1b1; /* Light Pastel Green */
  --autocomplete-input-bg: #666666; /* Darker background */
  --autocomplete-input-text: #eaf1b1; /* Light Pastel Green */
  --scroll-button-bg: #666666; /* Darker background */
  --scroll-button-text: #eaf1b1; /* Light Pastel Green */
  --scroll-button-hover-bg: #777777; /* Slightly darker on hover */
  --map-border: #555555; /* Darker background */
  --div-container-bg: #666666; /* Darker background */
  --div-container-text: #eaf1b1; /* Light Pastel Green */
  --table-header-bg: #555555; /* Darker background */
  --table-header-text: #eaf1b1; /* Light Pastel Green */
  --table-cell-bg: #666666; /* Darker background */
  --table-cell-text: #cccccc; /* Light text */
}

body {
  font-family: 'Inter', sans-serif;
  color: var(--text-color);
  background-color: var(--bg-color);
  margin: 0;
  padding: 0;
}

main {
  color: var(--text-color) !important;
  font-family: 'Times New Roman', Times, serif;
}

h2 {
  font-size: xx-large;
  display: flex;
  justify-content: center;
  background-color: var(--header-bg);
  color: var(--header-text);
  margin-bottom: 15px;
  margin-top: 15px;
  padding: 10px;
  border-radius: 8px;
}

/*------------------------------------------------------------------------*/
/* DRAWER STYLING */
.drawer {
  background-color: var(--drawer-bg);
  border: 2px solid var(--drawer-bg);
  border-radius: 8px;
  color: var(--drawer-bg);
}

.drawer-content {
  border: solid 5px var(--drawer-bg);
  background-color: var(--drawer-content-bg);
  padding: 20px;
  font-family: 'Times New Roman', Times, serif;
  overflow-y: auto;
  height: 100vh;
  scrollbar-width: thin;
  scrollbar-color: var(--drawer-bg) transparent;
}

.drawer-content::-webkit-scrollbar {
  width: 6px;
}

.drawer-content::-webkit-scrollbar-track {
  background: transparent;
}

.drawer-content::-webkit-scrollbar-thumb {
  background-color: var(--drawer-bg);
  border-radius: 10px;
}

.drawer-title {
  font-size: x-large;
  text-align: center;
  background-color: var(--drawer-bg);
  color: var(--drawer-content-bg);
  padding: 5px 10px;
  border-radius: 8px;
}

.drawer-overlay {
  backdrop-filter: blur(1px);
  opacity: 0.55;
}

.button {
  margin-left: 15px;
  background-color: var(--button-bg);
  color: var(--button-text);
  border: 2px solid var(--drawer-bg);
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 150px;
}

.button-2 {
  margin-left: 15px;
  background-color: var(--button-bg);
  color: var(--button-text);
  border: 2px solid var(--drawer-bg);
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 250px;
}

.button:hover {
  background-color: var(--button-hover-bg);
  color: var(--button-hover-text);
}

.button-2:hover {
  background-color: var(--button-hover-bg);
  color: var(--button-hover-text);
}

/*------------------------------------------------------------------------*/
/* Drawer Contents Styling */
.material-div {
  background-color: var(--material-div-bg);
  width: 225px;
  border-radius: 8px;
  text-align: center;
  justify-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  height: 40vh;
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.material-div .materials {
  font-size: large;
  background-color: var(--drawer-bg);
  color: var(--drawer-content-bg);
  border-radius: 8px;
  padding: 5px 5px;
}

.item-list {
  color: var(--drawer-content-bg);
  text-align: left;
  overflow-y: auto;
  height: 150px;
  padding-right: 10px;
  scrollbar-width: thin;
  scrollbar-color: var(--drawer-bg) transparent;
}

.item-list::-webkit-scrollbar {
  width: 6px;
}

.item-list::-webkit-scrollbar-track {
  background: transparent;
}

.item-list::-webkit-scrollbar-thumb {
  background-color: var(--drawer-bg);
  border-radius: 10px;
}

.materials-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.materials-grid img {
  height: 80px;
  width: 80px;
  margin-bottom: 10px;
}

/*------------------------------------------------------------------------*/
/* SEARCH BAR STYLING */
.autocomplete {
  background-color: var(--autocomplete-bg);
  border: 2px solid var(--autocomplete-bg);
  border-radius: 8px;
  color: var(--autocomplete-text);
  padding: 10px;
  width: 100%;
  font-family: 'Times New Roman', Times, serif;
}

.autocomplete input::placeholder {
  color: var(--autocomplete-text);
  opacity: 1;
}

.autocomplete input {
  background-color: var(--autocomplete-input-bg);
  color: var(--autocomplete-input-text);
  border: 2px solid var(--autocomplete-input-text);
  border-radius: 8px;
  padding: 8px;
  width: 100%;
  font-size: 16px;
  outline: none;
}

.autocomplete-dropdown {
  background-color: var(--autocomplete-input-bg);
  border: 2px solid var(--drawer-bg);
  border-radius: 8px;
  padding: 8px 0;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
}

.autocomplete-item {
  background-color: var(--autocomplete-input-bg);
  color: var(--autocomplete-input-text);
  padding: 10px;
  cursor: pointer;
  font-family: 'Times New Roman', Times, serif;
}

.autocomplete-item:hover,
.autocomplete-item[data-hovered='true'] {
  background-color: var(--drawer-bg);
  color: var(--drawer-content-bg);
}

.autocomplete-dropdown::-webkit-scrollbar {
  width: 6px; /* Thin scrollbar */
}

.autocomplete-dropdown::-webkit-scrollbar-track {
  background: transparent; /* Transparent scrollbar track */
}

.autocomplete-dropdown::-webkit-scrollbar-thumb {
  background-color: var(--drawer-bg); /* Same scrollbar thumb color as the items */
  border-radius: 10px; /* Rounded scrollbar thumb */
}

.autocomplete-dropdown {
  scrollbar-width: thin;
  scrollbar-color: var(--drawer-bg) transparent;
}

/*------------------------------------------------------------------------*/
/* SCROLL BUTTON STYLING */
.scroll-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.scroll-button {
  background-color: var(--scroll-button-bg);
  color: var(--scroll-button-text);
  border: 2px solid var(--drawer-bg);
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.scroll-button:hover {
  background-color: var(--scroll-button-hover-bg);
}

/*------------------------------------------------------------------------*/
/* DIV FLEX STYLING */
.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.locations-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/*------------------------------------------------------------------------*/
/* MAP STYLING */
.map-container {
  position: sticky;
  top: 0;
}

.square-map-container {
  display: flex;
  justify-content: right;
  align-items: center;
}

.square-map {
  width: 94vh;
  height: 100vh;
  border: 3px solid var(--map-border);
  border-radius: 8px;
  margin-right: 15px;
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.3);
}

/*------------------------------------------------------------------------*/
/* DIV STYLING */
.div-container {
  border: 3px solid var(--map-border);
  border-radius: 8px;
  width: 94vh;
  height: 80vh;
  background-color: var(--div-container-bg);
  margin-left: 15px;
  color: var(--div-container-text);
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.div-container-2 {
  border: 3px solid var(--map-border);
  border-radius: 8px;
  background-color: var(--div-container-bg);
  color: var(--div-container-text);
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.3);
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px 20px;
}

.div-2-title {
  font-size: xxx-large;
}

.div-2-txt {
  font-size: large;
}

.div-container h1 {
  font-size: xx-large;
  text-align: center;
  color: var(--div-container-text);
  background-color: var(--drawer-bg);
  padding: 5px 10px;
}

.div-container h3 {
  font-size: x-large;
  margin-left: 5px;
}

.div-container p {
  margin-left: 15px;
  font-size: x-large;
}

.div-container ul {
  padding: 5px 10px;
  background-color: var(--drawer-content-bg);
  color: var(--drawer-bg);
  border: solid var(--drawer-bg);
  border-radius: 8px;
  font-weight: bold;
  margin: 10px 20px;
}

.address {
  padding: 5px 10px;
  background-color: var(--drawer-content-bg);
  color: var(--drawer-bg);
  border: solid var(--drawer-bg);
  border-radius: 8px;
  margin: 10px 20px;
}

/*------------------------------------------------------------------------*/
/* TABLE STYLING */
.table-container {
  width: 95%;
  margin-top: 15px;
  margin-left: 36px;
  border-collapse: collapse;
}

.table-container th {
  position: sticky;
  top: 0;
  padding: 10px;
  border: 3px solid var(--table-header-text);
  border-radius: 8px;
  text-align: center;
  background-color: var(--table-header-bg);
  color: var(--table-header-text);
  font-size: large;
}

.table-container td {
  padding: 10px;
  border: 3px solid var(--table-header-text);
  border-radius: 8px;
  text-align: center;
  background-color: var(--table-cell-bg);
  color: var(--table-cell-text);
  font-size: medium;
}
