main {
  color: #102f15 !important;
  font-family: 'Times New Roman', Times, serif;
}

h2 {
  font-size: xx-large;
  display: flex;
  justify-content: center;
  background-color: #102f15;
  color: #eaf1b1;
  margin-bottom: 15px;
  margin-top: 15px;
  padding: 10px;
  border-radius: 8px;
}

/*------------------------------------------------------------------------*/
/* DRAWER STYLING*/
.drawer {
  background-color: #102f15;
  border: 2px solid #102f15;
  border-radius: 8px;
  color: #102f15;
}

.drawer-content {
  border: solid 5px #102f15;
  background-color: #eaf1b1;
  padding: 20px;
  font-family: 'Times New Roman', Times, serif;
  overflow-y: auto;
  height: 100vh;
  scrollbar-width: thin;
  scrollbar-color: #102f15 transparent;
}

.drawer-content::-webkit-scrollbar {
  display: 6px;
}

.drawer-content::-webkit-scrollbar-track {
  background: transparent;
}

.drawer-content::-webkit-scrollbar-thumb {
  background-color: #102f15;
  border-radius: 10px;
}

.drawer-title {
  font-size: x-large;
  text-align: center;
  background-color: #102f15;
  color: #eaf1b1;
  padding: 5px 10px;
  border-radius: 8px;
}

.drawer-overlay {
  backdrop-filter: blur(1px);
  opacity: 0.55;
}

.button {
  margin-left: 15px;
  background-color: #eaf1b1;
  color: #102f15;
  border: 2px solid #102f15;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 25px;
  width: 150px;
}

.button-2 {
  margin-left: 15px;
  background-color: #eaf1b1;
  color: #102f15;
  border: 2px solid #102f15;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 25px;
  width: 250px;
}

.button:hover {
  background-color: #102f15;
  color: #eaf1b1;
}

.button-2:hover {
  background-color: #102f15;
  color: #eaf1b1;
}

/*------------------------------------------------------------------------*/
/* Drawer Contents Styling */

.material-div {
  background-color: #728c5a;
  width: 225px;
  border-radius: 8px;
  text-align: center;
  justify-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  height: 40vh;
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.material-div .materials {
  font-size: large;
  background-color: #102f15;
  color: #eaf1b1;
  border-radius: 8px;
  padding: 5px 5px;
}

.item-list {
  color: #eaf1b1;
  text-align: left;
  overflow-y: auto;
  height: 150px;
  padding-right: 10px;
  scrollbar-width: thin;
  scrollbar-color: #102f15 transparent;
}

.item-list::-webkit-scrollbar {
  display: 6px;
}

.item-list::-webkit-scrollbar-track {
  background: transparent;
}

.item-list::-webkit-scrollbar-thumb {
  background-color: #102f15;
  border-radius: 10px;
}

.materials-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.materials-grid img {
  height: 80px;
  width: 80px;
  margin-bottom: 10px;
}
/*------------------------------------------------------------------------*/
/* SEARCH BAR STYLING */

.autocomplete {
  background-color: #102f15;
  border: 2px solid #102f15;
  border-radius: 8px;
  color: #eaf1b1;
  padding: 10px;
  width: 100%;
  font-family: 'Times New Roman', Times, serif;
}

.autocomplete input::placeholder {
  color: #eaf1b1;
  opacity: 1;
}

.autocomplete input {
  background-color: #728c5a;
  color: #eaf1b1;
  border: 2px solid #eaf1b1;
  border-radius: 8px;
  padding: 8px;
  width: 100%;
  font-size: 16px;
  outline: none;
}

.autocomplete-dropdown {
  background-color: #728c5a;
  border: 2px solid #102f15;
  border-radius: 8px;
  padding: 8px 0;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
}

.autocomplete-item {
  background-color: #728c5a;
  color: #eaf1b1;
  padding: 10px;
  cursor: pointer;
  font-family: 'Times New Roman', Times, serif;
}

.autocomplete-item:hover,
.autocomplete-item[data-hovered='true'] {
  background-color: #102f15;
  color: #eaf1b1;
}

.autocomplete-dropdown::-webkit-scrollbar {
  width: 6px; /* Thin scrollbar */
}

.autocomplete-dropdown::-webkit-scrollbar-track {
  background: transparent; /* Transparent scrollbar track */
}

.autocomplete-dropdown::-webkit-scrollbar-thumb {
  background-color: #102f15; /* Same scrollbar thumb color as the items */
  border-radius: 10px; /* Rounded scrollbar thumb */
}

.autocomplete-dropdown {
  scrollbar-width: thin;
  scrollbar-color: #102f15 transparent;
}

/*------------------------------------------------------------------------*/
/* SCROLL BUTTON STYLING */
.scroll-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.scroll-button {
  background-color: #728c5a;
  color: #eaf1b1;
  border: 2px solid #102f15;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.scroll-button:hover {
  background-color: #102f15;
}

/*------------------------------------------------------------------------*/
/* DIV FLEX STYLING */
.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  flex-wrap: wrap;
}

.locations-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/*------------------------------------------------------------------------*/
/* MAP STYLING */
.map-container {
  position: sticky;
  top: 0;
}

.square-map-container {
  display: flex;
  justify-content: right;
  align-items: center;
}

.square-map {
  width: 94vh;
  height: 100vh;
  border: 3px solid #102f15;
  border-radius: 8px;
  margin-right: 15px;
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.3);
}

/*------------------------------------------------------------------------*/
/* DIV STYLING */
.div-container {
  border: 3px solid #102f15;
  border-radius: 8px;
  width: 94vh;
  height: 80vh;
  background-color: #728c5a;
  margin-left: 15px;
  color: #eaf1b1;
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.div-container-2{
  border: 3px solid #102f15;
  border-radius: 8px;
  background-color: #728c5a;
  color: #eaf1b1;
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.3);
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px 20px;
}

.div-2-title {
  font-size: xxx-large;
  text-align: center;
}

.div-2-txt {
  font-size: x-large;
  text-align: center;
}

.div-container h1 {
  font-size: xx-large;
  text-align: center;
  color: #eaf1b1;
  background-color: #102f15;
  padding: 5px 10px;
  
}

.div-container h3 {
  font-size: x-large;
  margin-left: 5px;
}

.div-container p {
  margin-left: 15px;
  font-size: x-large;
}

.div-container ul {
  padding: 5px 10px;
  background-color: #eaf1b1;
  color: #102f15;
  border: solid #102f15;
  border-radius: 8px;
  font-weight: bold;
  margin: 10px 20px;
}

.address {
  padding: 5px 10px;
  background-color: #eaf1b1;
  color: #102f15;
  border: solid #102f15;
  border-radius: 8px;
  margin: 10px 20px;
}

/*------------------------------------------------------------------------*/
/* TABLE STYLING */
.table-container {
  width: 95%;
  margin-top: 15px;
  margin-left: 36px;
  border-collapse: collapse;
}

.table-container th {
  position: sticky;
  top: 0;
  padding: 10px;
  border: 3px solid #ebfadc;
  border-radius: 8px;
  text-align: center;
  background-color: #102f15;
  color: #eaf1b1;
  font-size: large;
}

.table-container td {
  padding: 10px;
  border: 3px solid #eaf1b1;
  border-radius: 8px;
  text-align: center;
  background-color: #728c5a;
  color: #ebfadc;
  font-size: medium;
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.3);
}

