main {
  color: #102f15;
  font-family: 'Times New Roman', Times, serif;
}

h2 {
  font-size: xx-large;
  display: flex;
  justify-content: center;
  background-color: #102f15;
  color: #eaf1b1;
  margin-bottom: 15px;
  margin-top: 15px;
  padding: 10px;
  border-radius: 8px;
}

.scroll-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.scroll-button {
  background-color: #728c5a;
  color: #eaf1b1;
  border: 2px solid #102f15;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.scroll-button:hover {
  background-color: #102f15;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  flex-wrap: wrap;
}

.locations-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.map-container {
  position: sticky;
  top: 0;
}

.square-map-container {
  display: flex;
  justify-content: right;
  align-items: center;
}

.square-map {
  width: 85vh;
  height: 100vh;
  border: 3px solid #102f15;
  border-radius: 8px;
  margin-right: 15px;
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.3);
}

.div-container {
  border: 3px solid #102f15;
  border-radius: 8px;
  width: 85vh;
  height: 70vh;
  background-color: #728c5a;
  margin-left: 15px;
  color: #eaf1b1;
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.3);
}

.div-container h1 {
  font-size: xx-large;
  text-align: center;
  color: #eaf1b1;
}

.div-container h3 {
  font-size: x-large;
  margin-left: 5px;
}

.div-container p {
  margin-left: 15px;
  font-size: x-large;
}

.div-container ul {
  margin-left: 25px;
  color: #ebfadc;
  font-size: large;
}

.table-container {
  width: 95%;
  margin-top: 15px;
  margin-left: 36px;
  border-collapse: collapse;
}

.table-container th {
  position: sticky;
  top: 0;
  padding: 10px;
  border: 3px solid #ebfadc;
  border-radius: 8px;
  text-align: center;
  background-color: #102f15;
  color: #eaf1b1;
  font-size: large;
}

.table-container td {
  padding: 10px;
  border: 3px solid #eaf1b1;
  border-radius: 8px;
  text-align: center;
  background-color: #728c5a;
  color: #ebfadc;
  font-size: medium;
}

