div {
    color: #102f15;
}

nav {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 100%; 
    background-color: transparent; 
    padding: 10px 20px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    height: 60px; 
  }
  
  /* Style the unordered list */
  nav ul {
    list-style-type: none; 
    margin: 0;
    padding: 0;
    display: flex; 
    justify-content: center;
    width: 100%;
  }
  
  /* Style each list item */
  nav ul li {
    margin: 0 20px; 
    padding-bottom: 10px;
  }
  
  /* Style the links */
  nav a {
    color: #102f15; 
    text-decoration: none; 
    font-weight: bold; 
    border: 2px solid transparent; 
    padding: 10px;
    transition: background-color 0.3s ease, border 0.3s ease, color 0.3s ease; 
    position: relative; 
  }
  
  /* Hover effect for the links */
  nav a:hover {
    border: 2px solid #728c5a; 
    background-color: #728c5a; 
    color: white; 
    border-radius: 5px; 
  }
  