body {
  font-family: 'Inter', sans-serif; /* Inter Font */
  color: #426D54; /* Forest Green */
  margin: 0;
  padding: 0;
}

a:hover {
  color: #82B068; /* Medium Green */
}

h1, h2, h3 {
  color: #5A8559; /* Dark Green */
  text-align: center;
  margin-top: 20px;
}

.container .recycle h2{
  font-size: 50px;
  color: #B0CF98;
}

h2 {
font-size: 50px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.article-list h2 {
margin-left: 550px;
  font-size: 50px;
}
h4 {
  font-size: 80px;
  font-family: "SUSE";
}
 
footer {
  background-color: #426D54; /* Forest Green */
  color: #E1EDBD; /* Light Pastel Green */
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}
header {
  background-color: #5A8559; /* Dark Green */
  color: #E1EDBD; /* Light Pastel Green */
  text-align: center;
  padding: 10px 0;
  border-bottom: 2px solid #426D54; /* Forest Green */
}
.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0px;
  background-color: #ffffff; /* Soft Green */
  border-radius: 8px;

}

.tile {
  background-color: #5A8559;
  border-radius: 8px;
  box-shadow: #5A8559;
  padding: 20px;
  transition: background-color 0.3s ease;
  transition: transform 0.3s ease;
  color: #000;
  
}

.tile:hover {
  background-color: #E1EDBD;
  box-shadow: 0 4px 16px rgba(49, 245, 95, 0.8); /* Neon Yellow Shadow */
  transform: scale(1.);
}
.recycle{
  background-color: #426D54;
  color: #ecfee2;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
  margin-top: 20px;
}

.article-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  list-style-type: none;
  background-color: #ddf7c9;
  box-shadow: 0 4px 8px rgba(19, 125, 19, 0.5);
  overflow-x: auto;
  white-space: nowrap;
}

.article-list li {
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 10px;
  padding: 20px;
  width: 300px;
  transition: transform 0.3s ease;
  display: inline-block;

}

.article-list li:hover {
  transform: scale(1.05);
}

.article-list img {
  max-width: 100%;
  height: auto;
  border-radius: 8px 8px 0 0;
}

.article-list a {
  display: block;
  text-decoration: none;
  color: #333;
  font-size: 1.1em;
  margin-top: 10px;
  font-weight: bold;
}

.article-list a:hover {
  color: #007bff;
}
.article-list section{
  background-color: #B0CF98;
}

@media (max-width: 768px) {
  .article-list li {
    width: 45%;
  }
}
@media (max-width: 480px) {
  .article-list li {
    width: 100%;
  }
}

.video-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
  list-style-type: none;
  background-color: #fff;
  margin-bottom: 20px;
  margin-top: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

}

.video-list li {
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 10px;
  padding: 20px;
  width: 30%;
  transition: transform 0.3s ease;
}

.video-list li:hover {
  transform: scale(1.05);
}

.video-list iframe {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .video-list li {
    width: 45%;
  }
}

@media (max-width: 480px) {
  .video-list li {
    width: 100%;
  }
}

.video-list .tile img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

form {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: auto;
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
}

input[type="checkbox"] {
  margin-right: 10px;
}
.container .recycle p{
  font-size: 20px;
}
.recycling-guide{
  background-color: #ddf7c9;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(19, 125, 19, 0.5);
}

.audio-icon{
  position: absolute;
  top: 70px;
  right: 30px;
}


