:root {
  --bg-color: #ffffff; /* White */
  --text-color: #102f15; /* Dark Green */
  --btn-bg-color: #728c5a; /* Medium Green */
  --btn-text-color: #ffffff; /* White */
  --header-footer-bg: #5a8559; /* Dark Green */
  --header-footer-text: #eaf1b1; /* Light Yellowish Green */
  --tile-bg: #728c5a; /* Medium Green */
  --tile-text: #ffffff; /* White */
  --article-bg: #b0cf98; /* Soft Green */
  --article-text: #102f15; /* Dark Green */
  --hover-bg: #4b5d42; /* Olive Green */
  --hover-shadow: rgba(16, 47, 21, 0.2); /* Dark Green with transparency */
  --recycle-bg: #5a8559; /* Dark Green */
  --recycle-text: #eaf1b1; /* Light Yellowish Green */
  --recycling-guide-bg: #b0cf98; /* Soft Green */
}

[data-theme="dark"] {
  --bg-color: #102f15; /* Dark Green */
  --text-color: #ffffff; /* White */
  --btn-bg-color: #4b5d42; /* Olive Green */
  --btn-text-color: #ffffff; /* White */
  --header-footer-bg: #102f15; /* Dark Green */
  --header-footer-text: #eaf1b1; /* Light Yellowish Green */
  --tile-bg: #4b5d42; /* Olive Green */
  --tile-text: #ffffff; /* White */
  --article-bg: #728c5a; /* Medium Green */
  --article-text: #ffffff; /* White */
  --hover-bg: #5a8559; /* Dark Green */
  --hover-shadow: rgba(255, 255, 255, 0.2); /* White with transparency */
  --recycle-bg: #4b5d42; /* Olive Green */
  --recycle-text: #ffffff; /* White */
  --recycling-guide-bg: #728c5a; /* Medium Green */
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  color: var(--text-color);
  text-align: center;
  margin: 20px 0;
}

h2 {
  font-size: 2.5rem;
  font-family: 'Trebuchet MS', sans-serif;
}

h4 {
  font-size: 5rem;
  font-family: "SUSE", sans-serif;
}

a:hover {
  color: #728c5a; /* Medium Green */
}

header, footer {
  background-color: var(--header-footer-bg);
  color: var(--header-footer-text);
  text-align: center;
  padding: 10px;
  border-bottom: 2px solid #4b5d42; /* Olive Green */
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0;
  background-color: var(--bg-color);
  border-radius: 8px;
}

.tile {
  background-color: var(--tile-bg);
  color: var(--tile-text);
  border-radius: 8px;
  padding: 20px;
  transition: 0.3s ease;
  box-shadow: var(--tile-bg);
}

.tile:hover {
  background-color: var(--hover-bg);
  box-shadow: 0 4px 16px var(--hover-shadow);
  transform: scale(1.1);
}

.recycle {
  background-color: var(--recycle-bg);
  color: var(--recycle-text);
  padding: 15px;
  margin: 20px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.article-list, .video-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 20px;
  background-color: var(--recycling-guide-bg);
  margin: 20px 0;
  box-shadow: 0 4px 8px rgba(19, 125, 19, 0.5);
}

.article-list li, .video-list li {
  background-color: var(--article-bg);
  color: var(--article-text);
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  margin: 10px;
  width: 300px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.article-list li:hover, .video-list li:hover {
  transform: scale(1.05);
}

.article-list a, .video-list a {
  color: var(--article-text);
  text-decoration: none;
  font-weight: bold;
}

.article-list a:hover, .video-list a:hover {
  color: #728c5a; /* Medium Green */
}

@media (max-width: 768px) {
  .article-list li, .video-list li {
    width: 45%;
  }
}

@media (max-width: 480px) {
  .article-list li, .video-list li {
    width: 100%;
  }
}

form {
  background-color: var(--bg-color);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: auto;
  color: var(--text-color);
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="checkbox"] {
  margin-right: 10px;
}

.audio-icon {
  position: absolute;
  top: 80px;
  right: 30px;
  color: var(--text-color);
}
