@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #eaf1b1;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


/* Styles for header container */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  height: 80px; /* Increased height for better spacing */
  background-color: transparent; /* Keep the background consistent */
}

/* Styles for header text */
.header {
  font-size: 1.5rem;
  color: #163832;
  font-style: italic;
  margin: 0;
}

/* Navigation styles */
nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav a {
  color: #102f15; 
  text-decoration: none; 
  font-weight: bold; 
  border: 2px solid transparent; 
  padding: 10px;
  transition: background-color 0.3s ease, border 0.3s ease, color 0.3s ease; 
  position: relative; 
  align-items: center;
}

/* Hover effect for the links */
nav a:hover {
  border: 2px solid #728c5a; 
  background-color: #728c5a; 
  color: white; 
  border-radius: 5px; 
}

/* User button container */
.user-button-container {
  margin-left: auto; /* Align the user button to the far right */
}

/* Sign-in container styles */
.sign-in-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Main page styles */
.main-content {
  padding: 2rem;
  margin-top: 80px; /* Ensure content starts below the header */
}

/* Info container styles */
.info-container {
  color: #163832;
}

/* Nav bar 
nav {
  display: flex;
  justify-content: center; 
  align-items: center; 
  width: 100%; 
  background-color: transparent; 
  padding: 10px 20px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  height: 60px; 
}

/* Style the unordered list */
nav ul {
  list-style-type: none; 
  margin: 0;
  padding: 0;
  display: flex; 
  justify-content: center;
  width: 100%;
}

/* Style each list item */
nav ul li {
    margin-right: 20px; 
    margin-left: 90px;
    
}

/* Style the links */
nav a {
  color: #102f15; 
  text-decoration: none; 
  font-weight: bold; 
  border: 2px solid transparent; 
  padding: 10px;
  transition: background-color 0.3s ease, border 0.3s ease, color 0.3s ease; 
  position: relative; 
}

/* Hover effect for the links */
nav a:hover {
    color: rgb(7, 182, 235); 
}


