@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #eaf1b1;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Styles for header container */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  height: 60px; /* Set a fixed height to ensure alignment */
  background-color: transparent; /* Make sure the background is consistent */
}

/* Styles for header text */
.header {
  font-size: 1.5rem;
  color: #163832;
  font-style: italic;
  line-height: 60px; /* Align text vertically */
}

/* Sign-in container styles */
.sign-in-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Main page styles */
.mainpage {
  padding: 2rem;
}

/* Info container styles */
.info-container {
  color: #163832;
}
