body {
  font-family: 'Inter', sans-serif; /* Inter Font */
  color: #426D54; /* Forest Green */
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  color: #5A8559; /* Dark Green */
  text-align: center;
  margin-top: 20px;
}

h2, h3 {
  font-size: 50px;
}

footer, header {
  background-color: #5A8559; /* Dark Green */
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff; 
  border-radius: 8px;
}

.container header {
  border-bottom: 2px solid #426D54; /* Forest Green */
  padding: 20px;
  font-size: 30px;
}

.leaderboard {
  margin: 20px auto;
  max-width: 800px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.leaderboard h2 {
  color: #5A8559; /* Dark Green */
}

.leaderboard ul {
  list-style: none;
  padding: 0;
}

.leaderboard li {
  background-color: #e1edbd; /* Light Pastel Green */
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.challengeContainer {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f0f4f1; /* Light background for overall page */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.challengeItem {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #e1edbd; /* Soft pastel green */
  border-radius: 5px;
  margin-bottom: 15px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.challengeItem:hover {
  background-color: #b0cf98; /* Slightly darker green on hover */
  transform: scale(1.02);
}

.completedMessage {
  font-size: 18px;
  color: #5A8559; /* Dark Green */
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
}

.challengeItem.completed {
  background-color: #26b461; /* Highlight completed tasks */
  filter: blur(2px); /* Apply blur effect */
  text-decoration: line-through;
}

/* Responsive Design */
@media (max-width: 768px) {
  .challengeItem {
    padding: 8px;
  }
}
/* List Styles */
ul, ol {
  padding-left: 20px; /* Indent lists */
  margin: 10px 0; /* Space between lists */
  list-style-position: inside; /* Position bullets/numbers inside */
}


/* List Items */
li {
  margin: 5px 0; /* Space between list items */
  padding: 5px; /* Padding for list items */
  background-color: #e1edbd; /* Light Pastel Green */
  border-radius: 5px; /* Rounded corners */
  transition: background-color 0.3s ease; /* Smooth background change */
}

li:hover {
  background-color: #b0cf98; /* Darker green on hover */
}
